{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% load static %}

{% block extra_css %}
<style>
    .row {
        padding: 40px 20%; 
    }
    .about-section {
        background-color: rgba(23, 38, 79, 0.7); 
        padding: 60px 0; 
        color: #fff;
        text-align: center;
    }
    .about-content {
        margin: 0 auto;
        max-width: 900px;
        padding: 20px; 
    }

    .left-aligned{
        text-align: left !important;
    }

    .about-title {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .about-text {
        font-size: 1.2rem;
        line-height: 1.8  !important;
    }
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

    .desc-text {
        font-size: 1.2rem !important;
        line-height: 1.8  !important;
        font-family: 'Dancing Script', cursive !important;
    }

    @import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');

    .signature-text {
        font-size: 1.2rem !important;
        line-height: 1.6 !important;
        font-family: "Playwrite HR", cursive !important;
        font-optical-sizing: auto !important;
        font-weight: 20 ;
        font-style: normal !important;
    }
    
    .blue{
        color: rgb(23, 38, 79) !important;
    }
    
    .light-blue{
        color: rgb(0,162,232) !important;
    }
    

    .nav-item{
        padding: 0 5px; 
      }
      
      .navbar .btn-login{
          background-color: rgb(38, 66, 145);
          border-color: rgb(38, 66, 145) !important;
          transition: background-color 0.3s, border-color 0.3s;
          color: #fff;  
          }
      
          
          .navbar .btn-login:active,
          .navbar .btn-login:hover,
          .navbar .btn-login:focus{
            background-color: rgb(56, 95, 194);
            border-color: rgb(38, 66, 145); /* Border color on hover */
            color: #fff; 
          }
      
      
          .custom-lrnmore-btn {
          background-color: rgb(56, 95, 194) !important;
          border-color: rgb(38, 66, 145) !important;
          color: #fff !important; 
          transition: background-color 0.3s, border-color 0.3s !important;
      }
      
          .custom-lrnmore-btn:hover,
          .custom-lrnmore-btn:focus,
          .custom-lrnmore-btn:active {
              background-color: rgb(38, 66, 145) !important;
              border-color: rgb(28, 50, 109) !important;
              color: #fff !important; 
          }
      
          .white{
            color: white !important;
          }
      
          .navbar {
          background-color: rgb(23, 38, 79);
          }
      
          .dropdown-item{
            color: #fff !important;
          }
      
          .custom-dropdown {
            background-color: rgb(38,66,145) !important; /* Change this to the color you want */
          }
          
          .custom-dropdown .dropdown-item {
            background-color: rgb(38,66,145) !important; /* Change this to the color you want */
          }
          
          .custom-dropdown .dropdown-item:hover {
            background-color: rgb(38,66,145) !important; /* Change this to the hover color you want */
          }

</style>
{% endblock %}

{% block content %}

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Autbase</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle dropdown-item" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Yearbook
                  </a>
                  <ul class="dropdown-menu custom-dropdown">
                    <li><a class="dropdown-item" href="/students">Ce 98</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/#MemoirAlcove">Memoir Alcove</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle white" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                    <ul class="dropdown-menu custom-dropdown dropdown-menu-end" >
                        <li><a class="dropdown-item" href="/student/{{user.student_id}}">Profile</a></li>
                        <li><a class="dropdown-item" href="/student/update">Edit</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                          <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Logout</button>
                        </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="btn btn-login" href="/login">Login</a>
                </li>
                <li class="nav-item">
                <a class="btn btn-login" href="/student/new">Signup</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
      </nav>
    
<div class="about-section">
    <div class="row">
        <div class="about-content">
            <h2 class="about-title">Why a yearbook? Why Autbase?</h2>
            <p class="signature-text blue">"It's been a long day without you, my friend<br>
            And I'll tell you all about it when I see you again"</p>
            <p class="about-text">I still remember the first time I came to the CE department of AUT. I look back on those memories with fondness and a happy heart, as I know many of us do and will continue to do. This website exists for that very reason: to help us remember who we were when we first joined CE@AUT and to remind us of the growth and changes we've experienced, shaping us into the people we are now as we leave.</p>
            <ul>
                <li> <p class="desc-text left-aligned">If you are an AUT CE graduate (Class of '98), I invite you to create an account and reminisce with your classmates about the days we shared.</p> </li>
                <li> <p class="desc-text left-aligned">If you are a recent graduate from any other AUT department, <a href="mailto:neginkheirmand@gmail.com">email me</a>, and I will create a space for your class on the website.</p> </li>
                <li> <p class="desc-text left-aligned">If you want to create a yearbook like this one for your own graduating class, you can access the source code on <a href="https://github.com/CeShora/yearbook"><strong>my GitHub repo.</strong></a></p> </li>
                <li> <p class="desc-text left-aligned">If you enjoyed the site, I kindly ask you to <a href="https://github.com/CeShora/yearbook"><strong>give a star to the repo.</strong></a> It means a lot to me.</p> </li>
            </ul>
            <p class="about-text light-blue">Lastly, this yearbook was made and is now hosted on a server that I have rented with my own pocket money. If you liked the site and are in a position to help, please contact me. As of now, I am uncertain about the site’s future stability due to financial constraints.</p>
            <p class="signature-text left-aligned blue"><strong>Your fellow classmate, Negin Kheirmand</strong></p>
        </div>
    </div>
</div>


  <!-- FOOTER -->
  <footer style="background-color: rgba(23, 38, 79, 0.9); padding: 30px 0; color: #fff; ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>📞Contact Me📞</h3>
          <p>📩 Primary Email: <a href="mailto:admin@autbase.ir">admin@autbase.ir</a></p>
          <p>📩 Secondary Email: <a href="mailto:neginkheirmand@gmail.com">neginkheirmand@gmail.com</a></p>
          <p>👩‍💻Source Code Repository: <a href="https://github.com/CeShora/yearbook">github.com/CeShora/yearbook</a></p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://github.com/neginkheirmand" target="_blank">Github</a></li>
            <li class="list-inline-item"><a href="https://t.me/neginkheirmand" target="_blank">Telegram</a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/neginkheirmand" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>🎓New Grads🎓</h3>
          <p>💬 Contact either of the emails if you want a new section for your graduated class in the site. I will gladly add it😊.</p>
          <p>#️⃣ If you want your very own graduation site, you can find the source code of the project in the mentioned links. </p>
        </div>
        <hr>
        <p class='text-center'>🎓🎓🎓</p>
      </div>
      
    </div>
  </footer>
{% endblock %}
